@font-face{
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf') 
}
body {
    font-family: 'Kanit';
    background-color: rgb(23, 187, 116);
    font-size: 14px;
}

.container{
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ba0404;
    padding: 20px;
    box-sizing: border-box;
}
.header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.header-form{
    width: 140px;
}
.flex{
    display: flex;
}
.form-input{
    margin-bottom: 10px;
}
input.form,textarea{
    border: 1px solid #3c08a4;
    width: 100%;
}
.center{
    text-align: center;
}
.button{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 50%;
    height: 40px;
}
.button:hover{
    background-color: #717171
    
}
@media screen and  (max-width: 768px){
    .flex {
        flex-direction: column;
    }
    .header{
        font-size: 24px;
    }
}
